@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  @apply bg-background text-text font-body;
}

.font-body {
  font-family: "Inter", "Josefin Sans", sans-serif;
}

.font-special {
  font-family: "Montserrat", "Nunito", sans-serif;
}
